  <%= render 'books/list', book: @book, user: @user %>

  <h1>Books</h1>
  <% @books.each do |book| %>
  <div>
    <p>
    <%= link_to user_path(book.user.id) do %>
      <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %>
    </p>
    <p>Title:
    <%= link_to book_path(book.id) do %>
      <%= book.title %>
    <% end %>
    </p>
    <p>Opinion: <%= book.body %></p>
  </div>
  <% end %>